/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
    display: none;
}

:root {
  --red: #d0342c;
  --text: #453f3f;
  --border: #d7c8c7;
  --offWhite: #f6f6f6;
  --cookiecolor: grey; /* Default background color */
  --svg_text: #600606;
  --footer: #242222;
  --header-height: clamp(30px, 7vw, 100px); /* Adjust this line */
  --yellow: #fff02a; /* Add this line */
}

::selection {
  background: rgba(255, 0, 0, 0.151);
}

  @font-face {
    font-family: 'Inter';
    src: url('/files/Inter.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
  html {
    font-family: "Inter", sans-serif;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    scroll-behavior: smooth;
  }

html body {
  overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--offWhite);
    display: flex;
    flex-direction: column;
    height: auto;
}

.white-bg {
  background-color: var(--offWhite);
  height: auto;
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
  padding-bottom: 200px;
}


header {

  background-color: rgb(255, 255, 255);
  height: var(--header-height); 
  position: fixed;
  width: 100%;
  z-index: 1000;
  transition: transform 0.5s ease;
  border-bottom: 1px solid var(--border);
  transform: translateY(0);
}

header.hidden {
    transform: translateY(-135%);
    transition: transform 0.5s ease; /* Fade out transition */
    user-select: none;
    /* filter: drop-shadow(0 10px 10px #0000000f); */
}

.accessibility-options2 {
  width: 100%;
  height: calc(0.35 * var(--header-height)); /* Set height relative to header */
  background-color: rgb(205, 205, 205);
  transition: transform 0.3s ease, visibility 0.3s ease;; /* Smooth slide */
  display: flex;
  align-items: center;
  justify-content: flex-end;

}

.accessibility {
  font-size: 0.85vw;
  color: var(--footer);
  text-decoration: none;
  padding: 0 1vw;
}

.accessibility:last-of-type {
  margin-right: 26vw;
  /* background-color: salmon; */
}

.accessibility:hover {
  text-decoration: underline;
}



.header-content {
  position: relative;
  display: flex;             
  align-items: flex-end;  
  justify-content: flex-start; /* Align to the start */
  width: 53vw;
  height: calc(var(--header-height) - var(--header-height)*0.5); /* Adjusted height */
  margin-left: 20vw; /* Add left margin */
  margin-right: 20vw; /* Add right margin */
}


.nav {
  display: flex;
  align-items: center;
  margin-left: 2.5vw;
}

.germany-logo {
  width: clamp(40px, 5vw, 55px); /* Scale the logo with a minimum and maximum size */
  height: auto;
  display: flex; 
  align-items: center;
  -webkit-user-drag: none;
}

.germany-logo img {
  width: 100%; 
  height: auto; 
  -webkit-user-drag: none;
}

.nav-list {
  display: flex;
  align-items: center; /* Align items to the bottom */
  gap: 2vw; 
  font-size: clamp(0.8rem, 1.5vw, 1.2rem); /* Scale the font size with a minimum and maximum size */
  font-weight: 400;
  color: var(--footer);
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 6px;
}

.nav-item {
  margin: 0;
  padding: 0;
  transform-origin: top right;
  cursor: pointer;
  position: relative;
  display: inline-block;
  align-items: flex-end;
  display: flex;
}

.nav-item a {  
  text-decoration: none;
  color: inherit;
  font-size: 1.2vw;
  font-weight: 350;
}

/*Link hover underline*/
.nav-item:hover {
  color: #726e6e;
}

.nav-item a:hover {

}

/* Active page underline, visible */
.nav-item.active a:hover {
  color: rgb(206, 1, 1);
}

/* Ensure the active link is styled correctly */
.nav-item.active a {
  color: var(--red);
}


.nav-hilfe {
  position: absolute;
  right: 0; /* Stick to the right edge of the container */
  bottom: 0; /* Align to the bottom of the header */
  color: rgb(255, 255, 255);
  background-color: var(--red);
  border: 1px solid rgb(148, 0, 0);
}

.nav-hilfe:hover {
  background-color: rgb(176, 53, 53);
  border: 1px solid rgb(34, 6, 6);
}

.nav-hilfe { /*aaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/
  text-decoration: none;
  font-size: 1vw;
  font-weight: 300;
  padding: 0.5vw .8vw;
  border-radius: 2px;
  transition: background-color 0.3s ease, border 0.3s ease;
}









.resetter {
  background-color: var(--offWhite);
  border: 1px solid var(--border);
  width: 35px;
  height: 35px;
  position: sticky;
  bottom: 40px;
  right: 40px;
  margin-left: calc(100% - 75px); /* 40px right margin + width */

  /* Flexbox for centering */
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(1px 3px 3px rgba(0, 0, 0, 0.05));
  opacity: 0; /* Fully transparent */
  transition: opacity 0.5s ease; /* Fade out transition */
  user-select: none;
  pointer-events: none;
}

.resetter-spacing {
  height: 40px;
  width: 100%;
}

.resetter.shown:hover{ /* SVG arrow */
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  transform: translateY(-1px);
  transition: transform 0.2s ease-in;
}

.resetter a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none; /* Remove underline from the link */
}

.resetter.shown {
  opacity: 1; /* Fully transparent */
  transition: opacity 1s ease, transform 0.5s ease-out; /* Fade out transition */
  pointer-events: auto;
  transform: translateY(0);
}

.resetter img { /* SVG arrow */
  width: 50%;
  height: 50%;
  transform: rotate(270deg); /* Rotate the image */
  transform-origin: center; /* Set rotation origin */
  -webkit-user-drag: none;
}




/* Display desktop navigation */
@media screen and (min-width: 769px) {
  .nav {
      display: flex; /* or your desired display style */
  }

  .mobile-nav,
  .burger-menu {
      display: none; /* Hide mobile-specific elements */
  }
}






.nav-buttons {
    display: flex;
    gap: 1vw; /* Space between buttons */
    align-items: center; /* Center vertically */
    height: 100%; /* Ensure it takes the full height of the header */
    right: 1.5vw; /* Add this to stick to the right edge */
}

.language-toggle {
    display: flex;
    align-items: center;
    padding: 0;
    gap: 0.3vw;
    cursor: pointer;
    font-size: 1vw;
    font-weight: 500;
    color: lightgray;
    user-select: none;
}

.lang-btn {
    padding: 0.5vw .5vw;
    font-size: 1vw;
    font-weight: 500;
    color: lightgray;
    border: none;
    background: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.lang-btn.active {
    color: var(--red);
}

.lang-btn:hover {
  color: rgba(168, 17, 17, 0.484);
}

.lang-btn.active:hover {
  color: var(--red);
}












.cookie-debug {
  padding: 50px 500px;
  padding-top: 500px;
}

.button-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  transition: background-color 0.3s ease;
  background-color: var(--cookiecolor);
}

.cookie-btn {
color: white;
padding: 15px 32px;
border: none;
border-radius: 8px;
font-size: 16px;
cursor: pointer;
transition: background-color 0.3s ease;
background-color: var(--cookiecolor);
}






.threats-section {
  /* background-color: green; */
  /* border-top: 2px solid var(--border); */
  margin: 0 auto;
  width: 60%;
  padding-bottom: 120px;
  padding-top: 30px;
}

.threats-flex {
  margin-top: 60px;
  display: flex;              /* Flexbox aktivieren */
  flex-wrap: wrap;            /* Zeilenumbruch erlauben */
  gap: 20px;                  /* Abstand zwischen den `div`-Elementen */
  justify-content: space-between; /* Platz in der Reihe gleichmäßig aufteilen */

}

.threats-title { /*Die größten Bedrohungen*/
  font-weight: 900;
  font-size: 2rem;
  padding-bottom: 30px;
  padding-top: 50px;
}



.explainer-title { /*Die größten Bedrohungen*/
  font-weight: 900;
  font-size: 2rem;
  padding-bottom: 30px;
  padding-top: 50px;
}


.explainer-section {

  /* border-top: 2px solid var(--border); */
  margin-left: 20vw;
  padding-top: 80px;
  width: 53vw;
  /* background-color: green; */
}


.explainer-context {
  padding-top: 30px;
  margin: 0;
  max-width: 700px;
  /* background-color: red; */
  font-size: 1.1rem;
  line-height: 1.6; /* Verbesserte Lesbarkeit */
  color: #333;
  text-align: left; /* Links-Ausrichtung statt justified */
}

.explainer-context p {
  margin-bottom: 1.5rem; /* Abstand zwischen Absätzen */
}


.threats-flex a {
  display: contents;
  text-decoration: none;
}

.landing-block {
  flex: 0 0 calc((100% - 40px) / 3); /* Jeweils 1/3 der Breite abzüglich Lücken */
  max-width: 100%;            /* Begrenzung auf Containergröße */
  box-sizing: border-box;     /* Padding/Borders in der Breite berücksichtigen */
  padding: 0;              /* Optionaler Innenabstand */
  background-color: var(--offWhite); /* Beispiel-Hintergrund (optional) */
  text-align: center;         /* Zentriert das SVG innerhalb des div */
  height: 100%;
  position: relative;
  text-align: center;
  
  background-color: inherit;
  border: 1px solid var(--border);

  color: var(--text);
  transition: background-color .4s ease, border-color .3s ease, color .2s ease; /*Back to no hover*/
}

/*hovered*/
.threats-flex:hover > a:hover .landing-block {
  background-color: rgb(248, 248, 248);
  transition: background-color 0.1s ease, border-color .3s ease, color .2s ease; 
  border-color: var(--red);
  color: var(--svg_text);
}

/*non-hovered*/
/* .threats-flex:hover > a .landing-block {
  background-color: rgb(243, 243, 243);
  transition: background-color 0.3s ease-in-out, border-color .3s ease, color .2s ease;
  cursor: pointer;
  border-color: none;
  color: var(--text);
} */

.threats-flex a:visited {
  color: inherit;
}

.icon-svg {
  -webkit-user-drag: none;
  width: 100%;
}

.icon-text {
  position: absolute;
  width: 100%;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
}
  



/*QUIZ*/

.quiz-start {
  width: 50%;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 10px;
}

.quiz-section {
  margin-top: 100px;
  border-top: 5px solid var(--red);
  background-color: red;
  margin: 0 auto;
  width: 50%;
  height: 300px;
}

.form-field {
  padding: 10px;
  margin: 20px;
  border: 1px solid var(--border);
}





.hover-term {
    position: relative;
    cursor: pointer;
    color: rgb(0, 254, 34);
    text-decoration: underline;
    z-index: 1000000;

  }


.tooltip {
    position: absolute;
    background-color: #0084ff;
    color: #fff;
    padding: 20px;
    border-radius: 2px;
    font-size: inherit;
    white-space: pre-wrap;
    max-width: 200px;
    opacity: 0; /* Start hidden */
    transform: translateY(10px); /* Start slightly below */
    transition: opacity 0.2s ease, transform 0.2s ease; /* Smooth transition */
    z-index: 1000;
  }
  
/* Show tooltip by changing opacity and position */
.tooltip.visible {
  display: block;
  opacity: 1;
  transform: translateY(0); /* Move to final position */
}


.center {
  width: 53vw;
  margin-left: 20vw;
}

.main-section {
  /* background-color: white; */
  width: 100%;
  min-height: 30vw;
}

.main-section:first-of-type {
  margin-top: calc(var(--header-height) + 50px);
  padding-top: 30px;
}

.main-text {

  font-size: 2vw;
  line-height: 120%;
  font-weight: 400;
  margin: 0;
  color: #191919;
}

.main-text--right {
  padding-top: 15vw;
    text-align: right; /* Align text to the right */
    width: 100%; /* Ensure it spans the full width of the .center div */
    margin: 0; /* Reset any default margins */
    padding-bottom: 3vw;
}








.threat-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 12vw;
  /* background-color: #0084ff; */
}

.threat-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  grid-template-rows: repeat(3, auto); /* Three rows */
  width: 100%; /* Adjust based on your layout needs */
  gap: 5px;
}

.threat-item {
  background-color: white; /* Example background color */
  border-radius: 5px;
  border: 2px solid rgb(242, 236, 236);
  width: calc(100% - 2.5px); /* Adjust width to account for the gap */
  height: 15vw;
  display: flex; /* Enables Flexbox layout */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Horizontally center the content */
  justify-content: center; /* Vertically center the content */
  text-align: center; /* Center text inside the item */
  position: relative; 
}

.threat-item:hover {
  background-color: rgb(255, 253, 253);
  border-color: var(--red);
  transition: background-color 0.3s ease, border-color 0.3s ease;
  cursor: pointer;
}

.threat-item h2 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: auto; /* Push the heading to the bottom */
  margin-bottom: 10px;
  position: absolute;
  bottom: 5px; /* Position the header at the bottom */
  left: 20px; /* Position it on the left */
  transform: translateY(0);
  transition: transform 0.3s ease;
}

.threat-item:hover .threat-item-headline {
 transform: translateY(-1.5vw);
 transition: transform 0.3s ease;
}

/* Icon links */
.topic-icon {
  transition: opacity 0.3s ease;
  position: absolute;
  top: 10px; /* Position icon at the top */
  right: -30px;
  width: 250px;
  height: auto;
}

.threat-item:hover .topic-icon {
  opacity: 0.2;
  transition: opacity 0.3s ease;
}


.threat-link {
  font-size: 1vw;
  color: var(--red);
  font-weight: 300;
  margin-top: auto; /* Push the heading to the bottom */
  margin-bottom: 10px;
  position: absolute;
  bottom: 5px; /* Position the header at the bottom */
  left: 20px; /* Position it on the left */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.threat-item:hover .threat-link {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.cta-div {
  max-width: 800px;
  margin-left: 33vw;
  padding-bottom: 40px;
  
}

/*WIE __ BIN ICH ONLINE*/
.cta-header {
  user-select: none;
  animation: fadeInSlide 1s ease forwards;
  opacity: 0; /* Start fully transparent */
  font-size: 80pt;
  line-height: 85%;
  margin: 0;
  color: #191919;
  margin-bottom: 20px;
}

.info-header {
  user-select: none;
  font-size: 5.75vw;
  line-height: 85%;
  margin: 0;
  color: #191919;
  padding: 2.25vw 0;
  margin-top: 1.5vw; /* Adjusted to use vw */
}





  /*SICHER*/
.cta-highlight {
  color: var(--red);
  font-weight: 600;
  transition: font-weight 0.3s ease;
}

.cta-text {
  animation: fadeInSlide 1s ease 0.3s forwards;
  opacity: 0; /* Start fully transparent */
  font-size: 18pt;
  font-weight: 400;
  padding: 0;
  padding-left: 10px;
}

.cta-button {
  margin-left: 0;
  font-weight: 600;
  padding: 12px 24px; /* Added horizontal padding for better text wrapping */
  color: white;
  background-color: var(--red);
  border: 2px solid #b71911;
  border-radius: 5px;
  transition: background-color 0.4s ease;
  display: inline-block;
  letter-spacing: 1px;
  text-decoration: none;
  white-space: nowrap; /* Prevents text from wrapping */
}


.cta-button:hover {
  cursor: pointer;
  background-color: rgb(162, 24, 9);
  border-color: rgb(181, 118, 118);
  transition: background-color 0.4s ease;
}

.cta-button:active {
  color: var(--red);
  border-color: var(--offWhite);
  color: var(--footer);
}

  @keyframes fadeInSlide {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.info-container {
  position: relative;
}

.arrow {
  position: absolute;
  margin: 0;
  padding: 0;
  margin-right: 17vw;
  line-height: 0.71;
  bottom: 0; /* Aligns with the bottom of the info-section */
  right: 0; /* Adjust as needed to move the arrow outside the info-section */
  color: var(--footer); /* Matches the design */
  font-size: 15vw;
  user-select: none;
}


.info-section {
  border: 2px solid rgb(255, 227, 144);
  margin: 0 auto;
  width: 53vw;
  height: auto;
  min-height: 35vw;
  background-color: #fff02a;
  margin-top: 120px;
  margin-bottom: 70px;
  position: relative; /* Add this */
  border-radius: 5px;
  padding: 0;
  margin-left: 20vw;
  margin-top: calc(var(--header-height) + 5vw);
}


.info-section2 h1 {
  color: rgb(27, 27, 27);
}

.info-section2 p {
 color: #191919;
}

.info-highlight {
  color: var(--red);
}


.info-icon {
  width: 2.5vw;
  height: auto;
  position: absolute;
  top: 3.5vw;
  right: 3.5vw;
  opacity: 25%;
}


.info-context {
  margin: 0;
  max-width: 50vw;
  padding-bottom: 3vw;
  color: #333;
  text-align: left; /* Links-Ausrichtung statt justified */
  padding-left: 1vw; /* Adjusted to use vw */
  /* background-color: red; */
}

.info-title, .info-context {
    padding-left: 4vw; /* Adjusted to use vw */
}

.info-section {
    border-radius: 5px;

}



.info-section--green {
    background-color: green;
}

.info-section--quiz {
    background-color: white;
    border-color: rgb(242, 236, 236);
    margin-top: 10vw;
    transition: border-color 0.3s ease;
    cursor: pointer;
}

.info-section--quiz:hover {
  border-color: var(--red);
  transition: border-color 0.3s ease;
  background-color: rgb(255, 253, 253);
}


.header-p--quiz { /*the quiz*/
  transform: translateY(6vw);
  transition: transform 0.3s ease;
}

.info-section--quiz:hover .header-p--quiz {
  transform: translateY(3vw);
  transition: transform 0.3s ease;
}

.info-section--quiz:hover .cta-highlight {
  font-weight: 200;
  transition: font-weight 0.3s ease;
}

.info-link {
  color: var(--red);
  margin-top: 5vw;
  font-weight: 400;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.info-section--quiz:hover .info-link {
  opacity: 1;
  transition: opacity 0.3s ease;
}



.info-section--themen {
  background-color: white;
  border-color: rgb(242, 236, 236);
  padding: 0;
  margin-left: 20vw;
  margin-top: calc(var(--header-height) + 5vw);
}

.info-section--white {
    background-color: white;
    border-color: rgb(242, 236, 236);
}

.header-p {
    font-size: 1vw; 
    color: var(--text);
    max-width: 75ch;
    font-weight: 400;
    margin-bottom: 1.5vw; /* Adjusted to use vw */
    line-height: 1.3; /* Improved readability */
}






/*QUIZ*/

.quiz-container {
  border: solid 1px var(--border);
  width: 53vw;
  height: 530px;
  position: absolute;
  top: calc(var(--header-height) + 70px); /* Position below the header + margin-top */    
  left: 40%; /* Center horizontally */
  transform: translateX(-50%); /* Offset to center the div */
  background-color: white;
  position: relative; /* Makes the child absolute positioning work */
  border-radius: 5px;
}

.quiz-title {
  position: absolute;
  right: 8%;
  font-size: clamp(2rem, 5vw, 4rem); /* Responsive font size */
  top: 450px;
  line-height: 100%;
  opacity: 10%;
  text-align: left;
  user-select: none;
}

.quiz-progress-bar {
  width: 100%;
  height: 6px;
  border-radius: 0 0 4px 4px;
  background: rgb(243, 243, 243);
  overflow: hidden;
  bottom: 0;
  position: absolute;
}

.quiz-question {
  width: 75%;
  margin-left: 100px;
  margin-right: auto;
  margin-top: 90px;
  font-size: clamp(1.25rem, 3vw, 2rem); /* Responsive font size */
  font-weight: 600;
}

.quiz-answer-container {
  width: 70%;
  margin-left: 100px;
  margin-right: auto;
}

.quiz-progress-fill {
  height: 100%;
  transition: width 0.5s ease-in-out;
  background-color: var(--red);
}

.quiz-nav {
  position: absolute; /* Position relative to the parent container */
  bottom: -40px;       /* Distance from the bottom of the parent */
  right: 0;        /* Distance from the right of the parent */
  cursor: default;
}

.btn {
  padding: 8px 16px;
  background-color: #fcf8f8;
  color: var(--footer);
  border: solid 1px rgb(198, 184, 184);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn:hover {
  background-color: #fffbfb;
  border: solid 1px rgb(212, 127, 127);
}

.btn:disabled {
  background: rgb(243, 243, 243);
  border: solid 1px var(--border);
  color: #b8b8b8;
  cursor: default;

}

.question {
  margin-bottom: 20px;
}

/*Button type*/
.button-group {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  gap: 0.7rem; /* Spacing between buttons */
  justify-content: flex-start; /* Align to the start of the container */
  margin-top: 2rem;
}

.answer-button {
  padding: 0.85rem 1rem;
  border: 1px solid var(--border);
  background-color: white;
  color: rgb(39, 33, 33);
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
  letter-spacing: 0.03rem;
  text-align: left;
  border-radius: 5px;
}

.answer-button:hover {
  background-color: #fff8f8;
}

.answer-button.selected {
  background-color: rgb(255, 240, 240);
  border: solid 1px var(--red);
}

/*Checkbox type*/ 
.checkbox-group {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  gap: 0.7rem; /* Spacing between buttons */
  justify-content: flex-start; /* Align to the start of the container */
  margin: 2rem;
  margin-left: 0;
}

.checkbox-option input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.checkbox-option.checked {
  background-color: rgb(255, 240, 240);
  border: solid 1px var(--red);
}


.checkbox-option {
  padding: 0.85rem 1rem;
  border: 1px solid var(--border);
  background-color: white;
  color: rgb(39, 33, 33);
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
  letter-spacing: 0.03rem;
  text-align: left;
  border-radius: 5px;
}

/* Hover effect only when not checked */
.checkbox-option:not(.checked):hover {
  background-color: #fff8f8;
}




.results {
  display: none;
}

.repeat-quiz-btn {
  position: absolute; /* Position relative to the parent container */
  bottom: 30px;       /* Distance from the bottom of the parent */
  right: 26px;        /* Distance from the right of the parent */
  cursor: default;
  border-radius: 5px;
}

.score {
  height: 200px;
  width: 50%;
  font-size: 5rem;
  font-weight: 900;
  text-align: center;
  color: var(--primary);
  margin: auto;
  /* background-color: rgb(242, 214, 214); */
}

.results {
  width: 75%;
  margin-left: 100px;
  margin-right: auto;
  margin-top: 90px;
  font-size: clamp(1.25rem, 3vw, 2rem); /* Responsive font size */
  font-weight: 600;
  /* background-color: red; */
}

.recommendations {
  /* margin-left: 50px;
  background-color: green; */
}


/*QUIZ*/




/*HILFE*/

.help-section h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: 700;
}

.help-section h2:first-of-type {
  margin-top: 120px;
}

.help-section h2 {
  margin-bottom: 30px;
}

.help-section p, .help-section ul {
  margin-bottom: 100px;
}

.help-section ul {
  line-height: 25px;
}

/*HILFE*/


/*TOPICS*/

/* Container für die Themen */
.topics {
  
  display: flex;
  flex-direction: column;
  gap: 80px; /* Abstand zwischen den einzelnen Themen */
  align-items: center; /* Zentrierung der Themen in der Seite */
}


.help-section, .faq-section, .topic-section {
  max-width: 800px;
  margin-left: 20vw;
  width: 70%;
}

.topic-title {
  font-size: 3vw;
  margin-bottom: 20px;
  font-weight: 700;
  padding-bottom: 30px;
}

.topic-context {
  margin: 0;
  max-width: 700px;
  /* background-color: red; */
  font-size: 1.1rem;

  color: #333;
  text-align: left; /* Links-Ausrichtung statt justified */
  margin-bottom: 80px;
}

/* Update topic item positioning */
.topic-item {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 5px;
  max-width: 1200px;
  width: 100%;
  background-color: var(--background);
  margin-top: -20px;
}



.topic-content {
  width: 600px;
  border: solid 1px var(--border);
  min-height: 200px;
  height: 300px;
  padding: 20px;
  padding-left: 40px;
  background-color: white;
  border-bottom: solid 2px var(--red);
  border-radius: 5px;
}

/* Textinhalt des Themas */
.topic-content h2 {
  margin: 15px 0 5px 0; /* Abstand nach unten */
  font-size: 1.6rem; /* Schriftgröße der Überschrift */
  /* background-color: yellow; */
}



/*TOPICS*/


/*FAQ*/


.faq-container {
  margin-bottom: 100px;
}

.faq-header {
  margin-bottom: 120px;
}

.faq-header h1 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  font-weight: 700;
}

.accordion-header {
  padding-left: 10px;
  font-size: 1.55rem;
  margin-bottom: 20px;
  padding-bottom: 5px;
  font-weight: 650;
  border-bottom: solid 3px var(--red);
  border-left: solid 3px var(--red);
}


.faq-accordion {
  width: 100%;
  padding: 20px;
  text-align: left;
  background: none;
  border: none;
  border-bottom: 1px solid var(--border);
  font-size: 1.1rem;
  font-weight: 600;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  transition: background-color 0.5s ease;
  color: rgb(26, 26, 26);
}

.faq-accordion:hover {
  background-color: rgb(239, 239, 239);
  transition: background-color 0.5s ease;
}

.faq-accordion.active {
  background-color: rgb(249, 249, 249);
}

.faq-accordion:not(.active) {
  font-weight: 400;
}

.faq-panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  background-color: rgb(237, 236, 235);
}



.panel-open {
  border-bottom: solid 3px var(--border);
  background-color: rgb(253, 253, 253);
}

.faq-panel p, .faq-panel ul {
  padding: 20px;
  margin: 0;
}

.faq-panel ul {
  padding-left: 40px;
}

.faq-panel li {
  margin-bottom: 10px;
}


/*FAQ*/





.footer {
  bottom: 100%;
  width: 100%;
  height: 400px;
  background-color: #242222;
  display: flex; /* Enables horizontal alignment */
  gap: 10px; /* Adds space between boxes */
  padding-top: 80px;
  padding-left: 10vw;
  opacity: 100%;
}



.footer-div:first-of-type {
  margin-left: 120px;

}

.footer-div:not(:first-of-type) {
  margin-left: 50px;

}

.footer-div h1 {
  margin: 0;
  padding: 0;
  margin-top: 30px;
  color: rgb(244, 243, 243);
  font-size: 1.2rem;
  font-weight: 400;
}

.footer ul {
  margin: 0;
  padding: 0;
  margin-top: 30px;

}

.footer li {
  list-style: none;
  padding-bottom: 10px;
  border-bottom: 1px solid #140f0f;
  transition: border-bottom 0.2s ease, color 0.2s ease;
  width: 280px;
  margin-bottom: 10px;
  color: var(--border);
  font-size: 10pt;
  cursor: pointer;
  position: relative; /* Add this to position the pseudo-element */
}

.footer li:hover {
  transition: border-bottom 0.2s ease, color 0.2s ease;
  border-bottom: 1px solid var(--red);
  cursor: pointer;
  color: rgb(255, 72, 72);
}

.footer li::after {
  content: '';
  position: absolute;
  top: 4px;
  right: 5px;
  margin: 0 auto;
  width: 11px;
  height: 11px;
  background-image: url('files/arrow.svg');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.footer li:hover::after {
  opacity: 1;
}


.footer-div p {
  margin: 0;
  padding: 0;
  margin-top: 30px;
  color: #565050;
  font-size: 10pt;
  font-weight: 300;
}

.footer-mobile {
  display: none;
}




