/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  html {
    font-family: "Noto Sans", sans-serif;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }


  



body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    height: auto;
    
}

header {
    position: fixed;
    /* background-color: yellow; */
    top: 0;
    z-index: 1000;
    /* position: sticky; */
    transition: opacity 0.5s ease; /* Fade out transition */
    opacity: 1; /* Fully visible */
}

header.hidden {
    opacity: 0; /* Fully transparent */
    transition: opacity 0.5s ease; /* Fade out transition */
    user-select: none;
}

.white-bg {
    background-color: rgb(243, 250, 255);
    height: 100vh;
    z-index: 1;
    position: relative;
    background-attachment: fixed;
    overflow: hidden;
    filter: drop-shadow(rgba(0, 0, 0, 0.486) 2rem 2rem 50px);
}

.logo {
    padding-left: 30px;
    padding-top: 30px;
    width: 50px;
    height: auto;
    /* background-color: pink; */
    z-index: 3;
}

/* Container for scrolling text */
.scrolling-container {
    display: flex; /* Use flexbox for alignment */
    position: absolute;
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Adjust for exact vertical center */
    z-index: 1;
}

/* Styles for the scrolling text */
.scrolling-text {
    user-select: none;
    font-weight: bold;
    white-space: nowrap; /* Prevent line breaks */
    font-size: 10rem; /* Large font size */
    color: #000; /* Text color */
    animation: scrollText 15s linear infinite; /* Adjust duration as needed */
    padding-right: 5rem;
}

     /* Keyframes for scrolling effect */
     @keyframes scrollText {
        0% {
            transform: translateX(0); /* Start position */
        }
        100% {
            transform: translateX(-100%); /* Move left off screen */
        }
    }

    .carmen {
        position: absolute;
        width: auto;
        height: auto;
        z-index: 10;
        padding: auto auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


.nav {
    /* background-color: orange; */
    position: fixed;
    right: 2.0vw;
    top: 1.2vw;
}

.nav-list {
    gap: 50px;
    font-size: 14pt;
    color: black;
    list-style: none;
    padding-top: 20px;
    padding-right: 25px;
    display: flex;
    overflow: hidden;
}

.nav-item {
    margin: 0;
    transform-origin: top right;
    cursor: pointer;
    position: relative; /* Make it a reference point for ::after */
    display: inline-block;
    padding-bottom: 2px;
    background-image: linear-gradient(#525252 0 0);
    background-position: 0 100%;
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition: background-size 0.2s, background-position 0s 0.3s;
}

.nav-item:hover {
    color: #525252;
    background-position: 100% 100%;
    background-size: 100% 2px;
}







footer {
    /* border-top: solid 1px #d8dfee; */
    background-color: rgb(0, 0, 0);
    color: #333230;
    text-align: left;
    height: 100vh;
    position: relative; /* Stays at the bottom but behind */
    z-index: 0; /* Places footer behind the .white-bg section */
    /* margin-top: -50vh; */
}

.footer-content {
    /* background-color: pink; */
    max-width: 90%; /* Set a max width for alignment */
    width: 80%;
    margin: 0 auto; /* Center the content */
    margin-top: -40px;
}
    
.footer-jeff {
    font-weight: 500;
    /* background-color: red; */
    color: #bbcee0;
    font-size: 120pt;
    line-height: 120%;
    margin: 0;
    margin-top: 130px;
}

.footer-goeff {
    color: #87a2b9;
    /* background-color: yellow; */
    font-size: 25pt;
    line-height: 150%;
}

.divider-line {
    margin: 0 auto;
    margin-top: 65px;
    width: 100%; /* Full width of the footer-content container */
    border-bottom: solid 1px rgb(51, 49, 75);
}

.footer-container {
    color: #435068;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding-top: 25px;
    text-align: left;
}

